*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: lightsteelblue;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 1000px;
    border: 3px solid steelblue;
    margin: 0 auto;
    width:100%;
    box-shadow: 5px 5px 12px 5px gray;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px ridge steelblue;
    background-image: linear-gradient(to right, white,steelblue);
    padding: 1em;
}

header img {
    padding-right: 1em;
    /* keep side padding flexible since it can change with diff. screens */
}

header h2 {
    color:steelblue;
    font-style: italic;
    font-size: 2.5em; 
    /* em means 2.5 times the size of the current font */
    text-shadow: 2px 2px 8px darkgray;
    /* text shadow: horizontal offset, vertical offset, blur, color */

}

/*** Navigation Menu ***/

#nav_menu {
    /* border-bottom: 3px solid steelblue; */
    background-color: steelblue;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
    position: relative;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    display: block;
    text-align: center;
    padding: .7em 0;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: steelblue;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li a {
    text-align: left;
    padding-left: .5em;

}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu a:hover {
    background-color: lightsteelblue;
    color: black;
}

/***************************/
/*** NAVIGATION LIST ***/
#nav_list h2 {
    margin-bottom: 5px;
    text-align: center;
}

#nav_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5em;

}

#nav_list li {
    width: 100%;
    border: 3px solid steelblue;
    border-radius: 5px;
}

#nav_list a {
    display: block;
    text-decoration: none;
    background-color: lightsteelblue;
    color:black;
    padding: .5em;
}

#nav_list a:hover {
    color: white;
    background-color: steelblue;
}

main {
    display: flex;
    justify-content: space-around;
}

section{
    max-width: 65%;
}

p, blockquote{
    margin-bottom: 12px;
    line-height: 1.5;
}

p {
    margin-bottom: 12px;
    padding: 0 1.5rem;
}

blockquote{
    margin: 0 4em 20px;
    border-left: 10px solid steelblue;
    padding: 15px 1em;
    background-color: wheat;
}

h2, h3 {
    margin-bottom: 15px;
}
.offer {
    padding-left: 1.5rem;
}

.pageheader {
    text-align: center;
    padding-top: 20px;
}

section h3 {
    padding-left: 1.5rem;
}

aside h2{
    padding-left: 1.5rem;
    padding-top: 20px;
}

aside ul {
    padding-left: 3rem;
}

aside a{
    font-weight: bold;
    line-height: 1.5;
}

/* the section tab makes the link charactersitics only apply to the text under the section tags in index>main */
section a:link, section a:visited {
    color: maroon;
}

section a:hover, section a:active {
    color: steelblue
}

aside a:link, aside a:visited {
    color: steelblue
}

aside a:hover, aside a:active {
    color: maroon;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    background-color: steelblue;
    border-top: 3px ridge steelblue;
    margin-top: 20px;
}

footer p {
    font-size: 80%;
    font-variant: small-caps;
    color: white;
}